#sidepanel {

}
body {
  padding-top: 56px;
}

#editor {
	display: none;

	margin: auto;
	width: 99.5vh;
	height: 50vh;

	border: 1px dotted;
}

#sim {
	width: calc(100vh - 56px);
	height: calc(100vh - 56px);
	position: fixed;
	top: 56px;
	right: calc(100% - 50vh + 56px);
	bottom: 0;
	left: 0%;
	background-color: #272822;
}

#graphics {

}

#ide {
	width: calc(100vw - 100vh + 56px);
	height: calc(80% - 56px);
	position: fixed;
	top: 56px;
	right: 0%;
	bottom: 0;
	left: calc(100vh - 56px);
}
#terminal {
	width: calc(100vw - 100vh + 56px);
	height: 20%;
	position: fixed;
	top: 80%;
	right: 0%;
	bottom: 0;
	left: calc(100vh - 56px);
}

.nav-link{
	cursor: pointer;
}

#info{
    color: rgba(255,255,255,.75);
	font-family: Inconsolata, Courier;
}

#logo{
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
    color: white;
}
#logo:hover{
    color: rgba(255,255,255,.75);
    text-decoration: none;
}
#green{
	color: lawngreen;
}

#blue{
	color: cornflowerblue;
}

#red{
	color: red;
}

#yellow{
	color: yellow;
}
